
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Стартовая страница</title>
    <link rel="stylesheet" type="text/css" href="~/styles/style.css" />
</head>
<body>
    <div>
        <div class="Main">
            <h1>Какой-то сайт об автомобилях</h1>
            <button onclick="window.location.href='https://localhost:5000/api/cars'">Перейти к списку автомобилей</button>
        </div>
    </div>
</body>
</html>

